<div class="container">
    <div class="row">
        <form #login="ngForm" (ngSubmit)="onSubmit(login)">
            <div class="form-group">
                <label>First Name</label>
                <input type="text" #name="ngModel" required minlength="2" maxlength="7" name="ftname"
                    class="form-control" ngModel>
                <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                    <small *ngIf="name?.errors?.['required']">First Name Require</small>
                    <small *ngIf="name?.errors?.['minlength']">Short First Name</small>
                </div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="lsname" class="form-control" ngModel>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ngModel>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
        </form>
    </div>
</div>